:root{
    --feature-bg-img-gradient: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(28, 65, 95)),color-stop(1, rgb(9, 26, 41)));
    --feature-text-color :aquamarine;

    --homepage-bg-color: #fafafa;
    
    --header-hover-color: black;
   
    --square-border-rad-color: 1px solid #999;
    --square-bg-img-color: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(244 244 184)), color-stop(1, rgb(245 243 235)) );
    --square-text-sdw: 2px -1px rgba(80, 29, 29, 0.5);
    --square-X-color: rgb(67, 67, 133);
    --square-O-color: rgb(158, 65, 65);
    
    --status-bg-color: rgb(216 198 153);
    --status-text-color: #4470e9;
    --status-box-sdw: inset 0 0 0 0 #f9e506;
    --status-hvr-box-sdw: inset 300px 0 0 0 #f9e506;
    --status-hvr-text-color: #000;
}
